<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Supervisor dashboard</title>
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="/asset/style.css" />
  </head>
  <body>
    <!-- nav bar with menu and logo  -->
    <nav class="nav-wrapper blue darken-3">
      <div class="container">
        <a href="" class="brand-logo">TeCoTooL</a>
        <a href="" class="sidenav-trigger" data-target="mobile-links"
          ><i class="material-icons">menu</i></a
        >
        <ul class="right hide-on-med-and-down">
          <li><a href="">Home</a></li>
          <li><a href="">Groups</a></li>
          <li><a href="/logOut">log Out</a></li>
        </ul>
      </div>
    </nav>
    <!-- menu when smaller screen  -->
    <ul class="sidenav" id="mobile-links">
      <li><a href="">Home</a></li>
      <li><a href="">Groups</a></li>
      <li><a href="/logOut" class="">Log Out</a></li>
    </ul>



   
    <!--  -->
    <!-- group selection -->

    <div class="container ">
    <h1>Your Groups:</h1>
      <table class="responsive-table bordered highlight">
        <thead>
          <tr>
            <th data-field="id">Name</th>
            <th data-field="Project">Project</th>
            <th data-field="noMembers">Number of members</th>
          </tr>
        </thead>

        <tbody>
          <% data.forEach(function (group) { %>
          <tr class="dropdown-trigger" data-target="dropdown1">
            <td><%=group.groupName%></td>
            <td><%=group.projectName%></td>
            <td>4</td>

            <!-- Dropdown Structure -->
            <ul id="dropdown1" class="dropdown-content">
            
            <li><a href="../studentDash/<%=session.userID%>/<%=group.projectID%>" class="center">Open</a></li>
            </ul>
          </tr>
          <% }) %>

        </tbody>
      </table>
      
      
    </div>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/asset/controller.js"></script>
  </body>
</html>
